<h1>Spending by Tag</h1>

<% for tag in @tags %>

<ul>

<li><%= tag.tag %><span id="space"><%= sprintf("£%.2f", tag.amount) %></span></li>
<li></li>

</ul>

<% end %>
<ul>
  <li>Total:  <span id="emphasis"><%= sprintf("£%.2f", @tran["sum"]) %></span></li>
</ul>
<p><span id="emphasis"><%= @budget %></span></p>
