
.labelstyle input {
    height:12px; 
    width:150px; 
    padding:5px 10px;
    margin-top: 3px;
    display: block;
}

.labelstyle label {
    height:12px; 
    width:100px; 
    padding:5px 10px;
    margin-top: 3px;
}

.labelstyle option {
    float: right;
}

#sub {
  width: 30px;
}