<h1>Add a new transaction</h1>

<form action="/transactions/create" method="post">
<fieldset>
<label class="labelstyle">Merchant:
<input type="text" name="merchant" class="labelstyle">
</label>
<clear />
<label class="labelstyle">Amount:
<input type="text" name="amount" class="labelstyle">
</label>

<label class="labelstyle">Date:
<input type="text" name="tran_date" class="labelstyle">
</label>

<label class="labelstyle">
  Select a Tag:
  <select name="tag">
    <option value="Groceries">Groceries</option>
    <option value="Electronics">Electronics</option>
    <option value="Clothing">Clothing</option>
    <option value="Health">Health</option>

</label>
<p>
<input type="submit" value="Submit" class="labelstyle"></p>
</fieldset>
</form>